#steve{
    color: blue;
    text-align: center;
}

.paragrah{
    color: brown;
    font-size: x-large;
}

.baragraph{
    color: red;
}


#Body{
    background-color: bisque;
}

#Main{
    text-align: center;
}

#Nav{
    color: brown;
}


.img{
    color: red;
}

.button{
    color: white;
    background-color: blue;

}

.button1{
    color: white;
    background-color: blue;
}

.img1{
    color: pink;
}

.xello{
    color: white;
    background-color: blue;
}