*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    background-color: rgb(180, 206, 197);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
    
}



.parent{
    width: 1200px;
    height: 800px;
    background-color: aliceblue;
    border-radius: 40px;
    display: flex;
}

.image-div, .form-div{
    width: 65%;
}

.image-div{
    background-image: url(./Capture1.PNG);
    background-size: cover;
}

.form-div{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 70px;
}


.form-div form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input{
    padding: 20px 10px;
    border: none;
    border-radius: 5px;
    outline: none;
}




button{
    width: 100%;
    padding: 20px 10px;
    border-radius: 5px;
    background-color: rgb(50, 120, 231);
    color: aliceblue;
    border: none;
}

.mariam{
    text-align: center;
    display: flex;
    justify-content: end;
    flex-direction: row;
}

.icons{
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-bottom: 400px;
    gap: 35px;
}

p{
    text-align: center;
}

h2{
    text-align: center;
}