.Signup{
    text-align: center;
    font-weight: bold
;
}


.main {
    background-color: white;
    width: 250px;
    height: 420px;
    margin: 0 auto; 
    padding: 5px;
    border-radius: 10px;
    text-align: center;
}



.button{
    background-color: blue;
    color: white;
    width: 220px;
    height: 35px;
    border-radius: 10px;
    cursor: pointer;
}

.Name{
    border-radius: 7px;
    height: 20px;
    width: 190px;
}

.email{
    border-radius: 7px;
    height: 20px;
    width: 190px;
}

.password{
    border-radius: 7px;
    height: 20px;
    width: 190px;   
}


.PASSWORD{
    border-radius: 7px;
    height: 20px;
    width: 190px;
}

.login {
    background-color: white;
    border-radius: 50%; 
    margin-right: 10px;
    cursor: pointer;
}


.dima {
    background-color: blue;
    color: white;
    border-radius: 50px;
    padding: 5px 15px; 
    margin-left: 10px;
    cursor: pointer;
}
